<div class="container mt-5">
  <div class="row my-5 bg-warning text-white p-5" *ngIf="show === 'angular'">
    <div class="col">
      <h2>Angular</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt a quia
        dolor illo doloribus perferendis amet beatae dignissimos, aspernatur
        mollitia dolore autem quasi fugit. Eveniet blanditiis et, dolorum
        similique, eum eligendi porro accusamus tempore at aliquam modi ex
        inventore molestiae velit voluptas perferendis sit nulla eos libero sed
        vitae. Totam ad reiciendis ipsum aliquam modi velit, consectetur vitae
        quam similique, sapiente aut suscipit id libero dolorum repellat veniam
        accusamus labore voluptatum, dolores dicta. Dolore, ipsa ducimus
        dignissimos iste sint, facere enim exercitationem tempora repudiandae
        non minima omnis asperiores officia voluptatibus officiis facilis a
        nisi. Doloremque vero aliquid eos sunt quaerat!
      </p>
    </div>
  </div>
  <div class="row bg-danger p-5 text-white" *ngIf="show === 'react'">
    <div class="col">
      <h2>React</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt a quia
        dolor illo doloribus perferendis amet beatae dignissimos, aspernatur
        mollitia dolore autem quasi fugit. Eveniet blanditiis et, dolorum
        similique, eum eligendi porro accusamus tempore at aliquam modi ex
        inventore molestiae velit voluptas perferendis sit nulla eos libero sed
        vitae. Totam ad reiciendis ipsum aliquam modi velit, consectetur vitae
        quam similique, sapiente aut suscipit id libero dolorum repellat veniam
        accusamus labore voluptatum, dolores dicta. Dolore, ipsa ducimus
        dignissimos iste sint, facere enim exercitationem tempora repudiandae
        non minima omnis asperiores officia voluptatibus officiis facilis a
        nisi. Doloremque vero aliquid eos sunt quaerat!
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-4">
      <input
        type="radio"
        name="gender"
        onchange=""
        checked
        value="angular"
        [(ngModel)]="show"
      />Angular
    </div>
    <div class="col-4">
      <input
        type="radio"
        name="gender"
        onchange=""
        value="react"
        [(ngModel)]="show"
      />
      React
    </div>
  </div>
</div>
