<div class="card mt-3">
  <div class="card-header bg-primary text-white">
    <h3>User Details</h3>
  </div>

  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">{{ userData.name }}</li>
      <li class="list-group-item">{{ userData.email }}</li>
      <li class="list-group-item">{{ userData.location }}</li>
      <li class="list-group-item">{{ userData.public_repos }}</li>
      <li class="list-group-item">MH</li>
      <li class="list-group-item">Rajiv@gmail.com</li>
      <li class="list-group-item">RajivMehta123</li>
      <li class="list-group-item">Mumbai</li>
      <li class="list-group-item">MH</li>
    </ul>
  </div>
</div>
