<div class="card">
  <div class="card-header bg-secondary text-white">
    <h4>Child Component</h4>
  </div>

  <div class="card-body">
    <p class="lead">{{ parentData }}</p>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-8">
        <input type="text" class="form-control" #inputRef />
      </div>
      <div class="col-4">
        <button
          class="btn btn-primary"
          (click)="sendDataToParent(inputRef.value)"
        >
          Send Data
        </button>
      </div>
    </div>
  </div>
</div>
