/* You can add global styles to this file, and also import other style files */
   @import 'bootstrap/dist/css/bootstrap.css';

body {
    margin: 0;
  }

  .bg-primary {

   background: linear-gradient(45deg,darkred,black);
  }
  .btn-primary {
      background: linear-gradient(45deg, darkred, black);
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
