<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card box">
        <div class="card-header bg-success text-white">
          <h4>Parent Component</h4>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <input type="text" class="form-control" #input />
            </div>
            <div class="col-4">
              <button class="btn btn-primary" (click)="sendDataToChild(input)">
                Submit
              </button>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <app-child-comp [parentData]="data"></app-child-comp>
        </div>
      </div>
    </div>
  </div>
</div>
