<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-3">
      <ul class="list-unstyled">
        <li class="bg-danger nav-item text-center my-3">
          <a routerLink="electronics" class="text-white nav-link"
            >Electronics</a
          >
        </li>
        <li class="bg-danger nav-item text-center my-3">
          <a routerLink="jewelary" class="text-white nav-link">Jewelary</a>
        </li>
        <li class="bg-danger nav-item text-center my-3">
          <a routerLink="mens" class="text-white nav-link">Men's Wearning</a>
        </li>
        <li class="bg-danger nav-item text-center my-3">
          <a routerLink="womens" class="text-white nav-link"
            >Women's Wearning</a
          >
        </li>
      </ul>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
