<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div id="mainContainer" [ngStyle]="style1">
        <h2>ngStyle Directive</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam qui
          sunt voluptates laboriosam reiciendis aliquam voluptatum temporibus
          eveniet, voluptatibus animi velit atque dicta sed esse similique
          accusantium dolore quibusdam quas? Perspiciatis fugiat voluptatum
          natus enim praesentium quod, minima quia porro, tempore placeat vitae
          voluptatibus veniam impedit nemo dicta aperiam libero deserunt
          explicabo voluptates! Sapiente quod velit ab! Aliquid corporis earum
          nam delectus, reiciendis illo nihil minima quibusdam beatae
          praesentium dolor blanditiis reprehenderit hic id omnis quas autem
          nemo aliquam placeat voluptate ducimus doloribus. Delectus vitae error
          reiciendis molestias amet, enim consectetur id voluptas perferendis
          veniam soluta inventore! Repellat, sit dolores!
        </p>
        <button class="btn btn-outline-primary" (click)="changeStyle('style1')">
          Style 1
        </button>
        <button
          class="btn btn-outline-danger mx-2"
          (click)="changeStyle('style2')"
        >
          Style 2
        </button>
      </div>
    </div>
  </div>
</div>
