<div id="footer">
  <h2>Footer Component</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam tenetur
    explicabo nemo modi, totam sed eius laborum ducimus, facere repellat
    recusandae sequi, fugit voluptas iusto quisquam cupiditate minus nesciunt
    neque quia voluptatum. Voluptas placeat non saepe vitae ut aspernatur
    quaerat eaque ipsa ea. Error assumenda autem explicabo est fugiat facere vel
    omnis non enim numquam nesciunt voluptates expedita eveniet rem quis eos in
    dolorem ea fugit cupiditate saepe, tenetur magni at? Placeat, rerum
    necessitatibus maxime nemo soluta inventore? Et doloremque consequatur neque
    nesciunt, delectus perspiciatis aliquam officiis eius asperiores
    exercitationem? Iure iusto quibusdam qui natus ipsa. Aspernatur eius ad vel
    magni adipisci sapiente consequatur minus ex, in explicabo laboriosam
    dolores architecto at tempora quia nostrum, minima ullam libero nisi! Facere
    ab similique expedita, architecto nulla tempora possimus quae inventore
    perferendis debitis eaque qui error vitae laborum quas nemo maiores? Iste
    odio vel fugit necessitatibus quia ea ex quisquam. Iste ducimus provident
    blanditiis ipsum a similique aperiam quia unde voluptates pariatur,
    possimus, facere tempora at eligendi aliquam doloribus, alias aspernatur
    sequi dolorum. Ipsam sit excepturi laudantium necessitatibus, sapiente quo
    tenetur corrupti eligendi iusto in! Perspiciatis explicabo voluptas a
    nesciunt totam suscipit, harum aspernatur nam hic consequatur dolorum.
    Voluptatem soluta amet sed.
  </p>
  <button class="btn1">Footer</button>
</div>
