<div class="container">
  <div class="row">
    <div class="col">
      <h2>Angular dialog Module</h2>
      <mat-dialog-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam
          debitis odio, consectetur obcaecati, ea adipisci accusamus saepe
          quibusdam, iste culpa corporis. Natus quo dolorum eveniet dignissimos
          quia! Laudantium quibusdam iste eaque incidunt repellendus, nisi,
          cumque soluta, optio aliquid veritatis recusandae odio illo veniam
          iure beatae nihil deserunt repudiandae eos! Velit odio, quaerat
          deserunt illum numquam tenetur adipisci atque error iure officiis
          corporis! Qui modi commodi hic! Quos repellat vero officia tempora,
          est aliquid voluptatem, sequi quia maxime ducimus consectetur aut esse
          recusandae. Tempore dolores, cum ipsam magnam perspiciatis, porro
          molestiae ad pariatur optio expedita exercitationem dolore. Modi
          minima ex iusto odio fuga culpa aliquam quia, blanditiis velit
          exercitationem maxime neque repudiandae possimus eaque consequatur
          debitis quidem perspiciatis eveniet porro reprehenderit nesciunt.
          Doloribus sequi eius, mollitia quisquam aspernatur adipisci,
          reprehenderit placeat quidem perferendis consectetur voluptatem sed
          deserunt. Qui deleniti iusto animi accusantium laudantium
          consequuntur, quas tempore quae quod iure, magni ratione amet aliquam
          esse eligendi optio ut temporibus atque unde reprehenderit quos
          aperiam laboriosam dignissimos maiores! Numquam, in fuga nobis
          mollitia amet rem dolorum labore cum vitae, itaque incidunt! Corporis
          deleniti, inventore architecto maxime molestias sunt ducimus rerum
          distinctio aperiam accusantium, perferendis in iste? Ipsam earum
          maxime iure exercitationem obcaecati saepe iste numquam architecto
          dolore eos recusandae voluptatibus sunt fugit veniam commodi possimus,
          quaerat voluptatum corrupti nisi fuga ut enim. Ad repudiandae in
          error, illum culpa veniam impedit amet quo illo expedita voluptas
          dolorem architecto doloremque ea dignissimos at nisi voluptatem
          placeat natus minima! Sapiente, facilis? Velit ducimus corporis
          numquam esse recusandae provident consequuntur voluptate dolor aliquid
          unde, officia, quos repellendus illo aliquam totam, quae tempora fuga
          non dolorem illum ex? Provident earum, nostrum atque et a
          exercitationem dolore perferendis corporis ipsum cupiditate maxime
          alias voluptatem quibusdam veritatis rerum aspernatur nobis
          voluptatibus doloremque inventore distinctio. Rerum repellat delectus
          quibusdam nobis molestias. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Dicta, eligendi non. Quibusdam maxime necessitatibus
          atque, nemo aut molestiae aliquam eligendi harum, soluta neque ipsa,
          officia temporibus! Quas officia ut numquam ea aut perspiciatis
          assumenda debitis earum molestias rem id sequi voluptatum eum ducimus
          consequuntur vitae alias, corporis excepturi doloremque, ratione iure
          eveniet quia aliquam? Eos cumque necessitatibus facere ea praesentium?
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe
          quisquam magni eveniet id blanditiis quo libero ab mollitia? Iusto
          temporibus, expedita quo inventore error vitae ipsum quasi
          consectetur. Obcaecati eveniet id, amet eaque praesentium repellendus
          sint tempora adipisci tenetur autem neque in eos error? Repellat ipsum
          vero nobis ipsa, consectetur ipsam vel minima odio sequi commodi
          corrupti nam veniam totam explicabo voluptatibus, culpa illo deleniti
          doloribus asperiores similique ea sed ex velit a. Dolorem quidem fuga
          consequatur distinctio, sequi placeat harum temporibus labore earum.
          Incidunt velit excepturi labore harum, maxime cum sunt. Atque delectus
          laborum voluptate tempora necessitatibus magni amet deleniti quibusdam
          molestias expedita. Iure animi consequuntur similique blanditiis
          eveniet quia quae, sunt dicta. Aperiam accusamus numquam aut nulla
          similique quisquam dicta voluptatibus eligendi velit ut, hic molestias
          at inventore aspernatur vero explicabo? Tempora veniam, ducimus omnis,
          autem dolores itaque assumenda saepe placeat vitae, excepturi
          accusamus similique officiis magni praesentium sint sed error
          laboriosam suscipit debitis facilis! Natus in est aliquid? Culpa ullam
          provident velit. Doloribus harum officiis perferendis vel facilis
          dolore doloremque adipisci consequatur illo, in esse natus minima
          corporis! Autem veniam similique saepe possimus sed incidunt
          dignissimos voluptas itaque mollitia quidem quae non sapiente, dolore
          dolorem adipisci provident aliquid perferendis dolorum eveniet
          recusandae doloribus neque minus! Doloribus sed porro dolores
          consequuntur dolore ea voluptatibus placeat velit, praesentium ullam,
          consequatur adipisci suscipit corrupti optio enim nulla laborum eaque
          libero cumque aliquam hic? Dignissimos quo deserunt quas nobis vitae
          enim aperiam nesciunt non amet ullam atque, illo corrupti laboriosam
          facilis numquam cumque reiciendis? Illum nesciunt fugit ipsam iste
          perferendis rem excepturi, tempora, officia animi non qui sapiente
          ducimus voluptatibus officiis, dolore similique! Doloribus quia, vero
          magnam vel corporis tempora aspernatur nostrum quasi, at hic,
          perspiciatis sapiente. Accusamus quidem quod officia? Iste laudantium
          illo maiores rerum hic natus libero aliquid quibusdam.
        </p>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary">Install</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
