<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>Personal Details</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <dl>
        <dt>Enter Name</dt>
        <dd><input type="text" class="form-control" [(ngModel)]="name" /></dd>
        <dt>Enter City</dt>
        <dd><input type="text" class="form-control" [(ngModel)]="city" /></dd>
        <dt>Select Gender</dt>
        <dd>
          <input
            type="radio"
            value="male"
            checked
            name="gender"
            [(ngModel)]="gender"
          />MALE &nbsp;&nbsp;&nbsp;
          <input
            type="radio"
            value="female"
            name="gender"
            [(ngModel)]="gender"
          />FEMALE
        </dd>
      </dl>
    </div>

    <div class="col-4">
      <dl>
        <dt>NAME</dt>
        <dd>{{ name }}</dd>
        <dt>CITY</dt>
        <dd>{{ city }}</dd>
        <dt>GENDER</dt>
        <dd>{{ gender }}</dd>
      </dl>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h3>Two way Data binding</h3>
        </div>

        <div class="card-body">
          <input type="text" class="form-control" [(ngModel)]="inputContent" />
          <p class="mt-3">{{ inputContent }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
