<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <ol>
        <li *ngFor="let p of products">{{ p }}</li>
      </ol>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>CITY</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of users; let i = index">
            <td>{{ i + 101 }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.city }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
