<nav class="navbar bg-dark navbar-dark">
  <div class="container">
    <a href="#" class="navbar-brand">Angular Directives</a>
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/" class="nav-link text-white">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/github" class="nav-link text-white">Github</a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" class="nav-link text-white">Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="/chat" class="nav-link text-white">ChatApp</a>
      </li>
      <li class="nav-item">
        <a routerLink="/switch" class="nav-link text-white">ngSwitch</a>
      </li>
      <li class="nav-item">
        <a routerLink="/user" class="nav-link text-white">UserProfile</a>
      </li>
    </ul>
  </div>
</nav>
