<!-- <div id="app">
  <h2>Welcome to Angular World</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae ipsa
    libero enim pariatur atque eveniet odit, error sit consequuntur
    reprehenderit ab veritatis nisi placeat quos deserunt eaque suscipit
    necessitatibus molestias consectetur impedit laudantium ea mollitia
    similique? Incidunt, omnis at rerum quod, aperiam, voluptas necessitatibus
    esse laboriosam repellat porro nisi. Cupiditate, deserunt tenetur itaque
    quibusdam recusandae possimus animi atque similique iste optio doloribus
    ipsam dolores quae voluptatum veritatis sunt. Voluptatum atque earum modi,
    laudantium iusto, possimus quae quo voluptates ipsam labore eum velit animi
    corporis neque aspernatur eligendi sequi sed asperiores esse, nesciunt nam.
    Quam ut, corrupti provident accusamus illo debitis?
  </p>
</div> -->
<!-- <app-header></app-header>
<app-main></app-main>
<app-header></app-header>
<app-header></app-header> -->
<!-- <h2 class="text-primary">App Component</h2>
<button class="btn btn-primary">Bootstrap</button>
<app-footer></app-footer> -->

<app-home></app-home>
