<div class="container">
  <select>
    <option>Select Element</option>
    <option>Div</option>
    <option>H1</option>
  </select>
  <div class="row">
    <div class="col">
      <div *ngIf="show; then angular; else react"></div>

      <ng-template #angular>
        <h2>Angular</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque
          quos repellendus tempore ullam voluptatem error excepturi adipisci
          vitae odit pariatur?
        </p>
      </ng-template>

      <ng-template #react>
        <h2>React</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae
          voluptate expedita odit similique perspiciatis. Ipsum magnam officia
          placeat eligendi eaque.
        </p>
      </ng-template>
    </div>
  </div>
</div>
